$primary-blue: #2D82BE;
$secondary-blue: #3286C3;
$primary-red: #DC3434;
$secondary-red: #FF0000;
$primary-green: #73CB5E;
$main-blue: #0063A9;
$footer-gradient: linear-gradient(139deg, rgba(49,134,195,1) 0%, rgba(0,79,134,1) 100%);
$poppins: 'Poppins', sans-serif;
$gilroy: 'Gilroy'